PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/pawven?retryWrites=true&w=majority
CLERK_SECRET_KEY=sk_test_xxxxx
STRIPE_SECRET_KEY=sk_test_xxxxx
MQTT_BROKER_URL=mqtt://localhost:1883
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
